<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Actions>
		<ActionItem>
			<Name>.Net</Name>
			<IconFilePath>C:\Projects\ShellGlue\.Net\vs.ico</IconFilePath>
			<Actions>
				<ActionItem>
					<Name>Build</Name>
					<Verb>Build</Verb>
					<Help>Build</Help>
					<IconFilePath>C:\Projects\ShellGlue\.Net\msbuild.ico</IconFilePath>
					<ExtentionFilter>
						<string>^.*\.sln$</string>
						<string>^.*\..*proj$</string>
					</ExtentionFilter>
					<ProgramPath>C:\Projects\ShellGlue\.Net\Build.bat</ProgramPath>
				</ActionItem>
			</Actions>
		</ActionItem>
	</Actions>
</Settings>